{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://api.printago.io",
      "description": "Prod"
    }
  ],
  "info": {
    "version": "0.0.1",
    "title": "@printago/api",
    "description": "",
    "license": {
      "name": "UNLICENSED"
    }
  },
  "paths": {
    "/v1/parts": {
      "get": {
        "summary": "Get all parts",
        "description": "List all parts in your store",
        "tags": [
          "Parts"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "description",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "fileUris",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "fileHashes",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "thumbnailUri",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "parameters",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "printTags",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "overriddenProcessProfileId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "folderId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "materials",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "slicerOverride",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "metadata",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "slicingEstimate",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "use3MFProcessProfile",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "arrangeable",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "userTags",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "gcodePlateUris",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "uploadedAt",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "storeId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "createdAt",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "updatedAt",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false,
            "title": "Sort"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 1000
            },
            "required": false,
            "title": "Limit"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "number",
              "minimum": 0
            },
            "required": false,
            "title": "Offset"
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false,
            "title": "Fields"
          },
          {
            "name": "include",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false,
            "title": "Include"
          },
          {
            "name": "meta",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "required": false,
            "title": "Meta"
          },
          {
            "name": "hints",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "required": false,
            "title": "Hints"
          }
        ],
        "responses": {
          "200": {
            "description": "List of all parts with their file info and metadata",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Part"
                      }
                    },
                    {
                      "$ref": "#/components/schemas/SearchResponse"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-permission": "part.view"
      },
      "post": {
        "summary": "Create a new part",
        "description": "Upload a new 3D model file. Supports STL, 3MF, STEP, GCODE, and OpenSCAD formats.\nAfter upload, metadata is automatically extracted from the file.",
        "tags": [
          "Parts"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Part data including file URIs and optional material assignments",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PartInsertWithMaterials"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The created part",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Part"
                }
              }
            }
          }
        },
        "x-permission": "part.create"
      },
      "patch": {
        "summary": "Bulk update parts",
        "description": "Update the same fields on multiple parts at once",
        "tags": [
          "Parts"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Part IDs and shared update data",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateManyRequestPartUpdateWithMaterials"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Updated parts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Part"
                  }
                }
              }
            }
          }
        },
        "x-permission": "part.edit"
      },
      "delete": {
        "summary": "Delete multiple parts",
        "description": "Delete multiple parts and their associated files",
        "tags": [
          "Parts"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Array of part IDs to delete",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "pattern": "^[a-z0-9]{24}$"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "IDs of successfully deleted parts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "pattern": "^[a-z0-9]{24}$"
                  }
                }
              }
            }
          }
        },
        "x-permission": "part.delete"
      }
    },
    "/v1/parts/search": {
      "post": {
        "summary": "Search parts",
        "description": "Search parts with complex filters",
        "tags": [
          "Parts"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchQueryDtoPart"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          }
        },
        "x-permission": "part.view"
      }
    },
    "/v1/parts/{id}": {
      "get": {
        "summary": "Get part by ID",
        "description": "Get a single part by ID",
        "tags": [
          "Parts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": " The part's unique identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested part with full details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Part"
                }
              }
            }
          }
        },
        "x-permission": "part.view"
      },
      "patch": {
        "summary": "Update a part",
        "description": "Update part properties like name, description, or material assignments",
        "tags": [
          "Parts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9]{24}$"
            },
            "required": true,
            "description": " The part's unique identifier"
          }
        ],
        "requestBody": {
          "description": "Fields to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PartUpdateWithMaterials"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The updated part",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Part"
                }
              }
            }
          }
        },
        "x-permission": "part.edit"
      },
      "delete": {
        "summary": "Delete a part",
        "description": "Delete a single part and its associated files",
        "tags": [
          "Parts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9]{24}$"
            },
            "required": true,
            "description": " The part's unique identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "IDs of deleted resources",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "x-permission": "part.delete"
      }
    },
    "/v1/parts/create-skus": {
      "post": {
        "summary": "Create SKUs from parts",
        "description": "Create SKU products from selected parts. Each part becomes a new SKU\nwith the part linked to it.",
        "tags": [
          "Parts",
          "SKUs"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Array of part-to-SKU mappings with custom names",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "partId": {
                      "type": "string"
                    },
                    "skuName": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "partId",
                    "skuName"
                  ]
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The created SKUs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Sku"
                  }
                }
              }
            }
          }
        },
        "x-permission": "sku.create"
      }
    },
    "/v1/parts/{id}/split-plates": {
      "post": {
        "summary": "Split multi-plate 3MF file",
        "description": "Split a multi-plate GCODE3MF file into separate files for each plate.\nUseful for sending individual plates to different printers.",
        "tags": [
          "Parts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9]{24}$"
            },
            "required": true,
            "description": " The GCODE3MF part's unique identifier"
          }
        ],
        "responses": {
          "201": {
            "description": "The updated part with plate file URIs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Part"
                }
              }
            }
          }
        },
        "x-permission": "part.edit"
      }
    },
    "/v1/printers/set-config": {
      "patch": {
        "summary": "Set provider config",
        "description": "Configure printer provider settings (e.g., Bambu Lab cloud connection)",
        "tags": [
          "Printers"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Provider configuration for selected printers",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetProviderConfig"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Updated printers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Printer"
                  }
                }
              }
            }
          }
        },
        "x-permission": "printer.config"
      }
    },
    "/v1/printers/confirm-ready": {
      "patch": {
        "summary": "Confirm printer ready",
        "description": "Mark printers as ready or not ready to receive jobs",
        "tags": [
          "Printers"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Printer IDs and ready status",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfirmReadyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Updated printers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Printer"
                  }
                }
              }
            }
          }
        },
        "x-permission": "printer.ready"
      }
    },
    "/v1/printers/enabled": {
      "patch": {
        "summary": "Set printer enabled status",
        "description": "Enable or disable printers for automatic job assignment",
        "tags": [
          "Printers"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Printer IDs and enabled status",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnabledConfig"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Updated printers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Printer"
                  }
                }
              }
            }
          }
        },
        "x-permission": "printer.control"
      }
    },
    "/v1/printers/continous-print": {
      "patch": {
        "summary": "Set Fabmatic",
        "description": "Enable or disable Fabmatic (continuous printing) for printers",
        "tags": [
          "Printers"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Printer IDs, enabled status, and optional job limit",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContinuousPrintConfig"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Updated printers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Printer"
                  }
                }
              }
            }
          }
        },
        "x-permission": "printer.config, printer.ready"
      }
    },
    "/v1/printers": {
      "get": {
        "summary": "Get all printers",
        "description": "List all printers connected to your store",
        "tags": [
          "Printers"
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "deviceId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "providerConfig",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "machineUserProfileId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "machineSystemProfileId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "processUserProfileId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "processSystemProfileId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "nozzleDiameter",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "metadata",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "proxyClientId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "commMethod",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "enabled",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "tags",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "confirmedReady",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "isAvailable",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "isOnline",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "printingJobId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "lastPrintedAt",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "integrationId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "integrationType",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "continuousPrint",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "fabmaticRemainingJobs",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "lifetimePrintHours",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "lifetimeJobCount",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "isInMaintenance",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "lastMaintenanceOfflineAt",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "lastMaintenanceOnlineAt",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "storeId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "createdAt",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "updatedAt",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false,
            "title": "Sort"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 1000
            },
            "required": false,
            "title": "Limit"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "number",
              "minimum": 0
            },
            "required": false,
            "title": "Offset"
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false,
            "title": "Fields"
          },
          {
            "name": "include",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false,
            "title": "Include"
          },
          {
            "name": "meta",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "required": false,
            "title": "Meta"
          },
          {
            "name": "hints",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "required": false,
            "title": "Hints"
          }
        ],
        "responses": {
          "200": {
            "description": "All registered printers with status",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Printer"
                      }
                    },
                    {
                      "$ref": "#/components/schemas/SearchResponse"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-permission": "printer.view"
      },
      "patch": {
        "summary": "Bulk update printers",
        "description": "Update the same fields on multiple printers",
        "tags": [
          "Printers"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Printer IDs and shared update data",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateManyRequestPrinterUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Updated printers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Printer"
                  }
                }
              }
            }
          }
        },
        "x-permission": "printer.edit"
      },
      "delete": {
        "summary": "Delete multiple printers",
        "description": "Remove multiple printers from your store",
        "tags": [
          "Printers"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Printer IDs to delete",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkActionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "IDs of deleted printers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "x-permission": "printer.delete"
      }
    },
    "/v1/printers/search": {
      "post": {
        "summary": "Search printers",
        "description": "Search printers with complex filters",
        "tags": [
          "Printers"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchQueryDtoPrinter"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          }
        },
        "x-permission": "printer.view"
      }
    },
    "/v1/printers/{id}": {
      "get": {
        "summary": "Get printer by ID",
        "description": "Get a single printer by ID",
        "tags": [
          "Printers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9]{24}$"
            },
            "required": true,
            "description": " The printer's unique identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested printer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Printer"
                }
              }
            }
          }
        },
        "x-permission": "printer.view"
      },
      "patch": {
        "summary": "Update a printer",
        "description": "Update a printer's properties",
        "tags": [
          "Printers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9]{24}$"
            },
            "required": true,
            "description": " The printer's unique identifier"
          }
        ],
        "requestBody": {
          "description": "Fields to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PartialPrinterUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The updated printer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Printer"
                }
              }
            }
          }
        },
        "x-permission": "printer.edit"
      },
      "delete": {
        "summary": "Delete a printer",
        "description": "Remove a printer from your store",
        "tags": [
          "Printers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9]{24}$"
            },
            "required": true,
            "description": " The printer's unique identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "IDs of deleted resources",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "x-permission": "printer.delete"
      }
    },
    "/v1/printers/multi": {
      "patch": {
        "summary": "Multi-update printers",
        "description": "Update different fields on each printer in a single request",
        "tags": [
          "Printers"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Array of individual printer updates",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PartialPrinterUpdateidstring"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-permission": "printer.edit"
      }
    },
    "/v1/printers/{id}/rename": {
      "patch": {
        "summary": "Rename a printer",
        "description": "Change a printer's display name",
        "tags": [
          "Printers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9]{24}$"
            },
            "required": true,
            "description": " The printer's unique identifier"
          }
        ],
        "requestBody": {
          "description": "New name for the printer",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RenamePrinterOptions"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The renamed printer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Printer"
                }
              }
            }
          }
        },
        "x-permission": "printer.edit"
      }
    },
    "/v1/linked-parts": {
      "get": {
        "summary": "Get all linked parts for a store",
        "tags": [
          "Linked_Parts"
        ],
        "operationId": "linkedParts_getAll",
        "parameters": [
          {
            "name": "skuId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "partId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "parameters",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "quantity",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "label",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "exposedParameters",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "materialAssignments",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "extensions",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "parameterBindings",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "plateQuantitiesBinding",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "storeId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "createdAt",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "updatedAt",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false,
            "title": "Sort"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 1000
            },
            "required": false,
            "title": "Limit"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "number",
              "minimum": 0
            },
            "required": false,
            "title": "Offset"
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false,
            "title": "Fields"
          },
          {
            "name": "include",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false,
            "title": "Include"
          },
          {
            "name": "meta",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "required": false,
            "title": "Meta"
          },
          {
            "name": "hints",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "required": false,
            "title": "Hints"
          }
        ],
        "responses": {
          "200": {
            "description": "List of linked parts",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LinkedPart"
                      }
                    },
                    {
                      "$ref": "#/components/schemas/SearchResponse"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-permission": "sku.view"
      },
      "post": {
        "summary": "Create a new linked part",
        "tags": [
          "Linked_Parts"
        ],
        "parameters": [],
        "requestBody": {
          "description": "- Linked part data",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LinkedPartInsert"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created linked part",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkedPart"
                }
              }
            }
          }
        },
        "x-permission": "sku.edit"
      }
    },
    "/v1/linked-parts/search": {
      "post": {
        "summary": "Search linked parts",
        "description": "Advanced search for linked parts",
        "tags": [
          "Linked_Parts"
        ],
        "operationId": "linkedParts_search",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchQueryDtoLinkedPart"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Search results with linked parts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          }
        },
        "x-permission": "sku.view"
      }
    },
    "/v1/linked-parts/{id}": {
      "get": {
        "summary": "Get a specific linked part by ID",
        "tags": [
          "Linked_Parts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9]{24}$"
            },
            "required": true,
            "description": " - Linked part identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Linked part details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkedPart"
                }
              }
            }
          }
        },
        "x-permission": "sku.view"
      },
      "patch": {
        "summary": "Update a linked part",
        "tags": [
          "Linked_Parts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9]{24}$"
            },
            "required": true,
            "description": " - Linked part identifier"
          }
        ],
        "requestBody": {
          "description": "- Updated linked part data",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PartialLinkedPartInsert"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Updated linked part",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkedPart"
                }
              }
            }
          }
        },
        "x-permission": "sku.edit"
      },
      "delete": {
        "summary": "Delete a linked part",
        "tags": [
          "Linked_Parts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9]{24}$"
            },
            "required": true,
            "description": " - Linked part identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Array of deleted linked part IDs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "x-permission": "sku.edit"
      }
    },
    "/v1/profiles": {
      "get": {
        "summary": "Get all slicer profiles",
        "tags": [
          "Profiles"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "externalId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "source",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "inherits",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "compatibilityList",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "data",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "metadata",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "integrationId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "integrationType",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "storeId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "updatedAt",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "createdAt",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false,
            "title": "Sort"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 1000
            },
            "required": false,
            "title": "Limit"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "number",
              "minimum": 0
            },
            "required": false,
            "title": "Offset"
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false,
            "title": "Fields"
          },
          {
            "name": "include",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false,
            "title": "Include"
          },
          {
            "name": "meta",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "required": false,
            "title": "Meta"
          },
          {
            "name": "hints",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "required": false,
            "title": "Hints"
          }
        ],
        "responses": {
          "200": {
            "description": "List of all slicer profiles in the store",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Profile"
                      }
                    },
                    {
                      "$ref": "#/components/schemas/SearchResponse"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-permission": "profile.view"
      },
      "post": {
        "summary": "Create a new profile",
        "tags": [
          "Profiles"
        ],
        "parameters": [],
        "requestBody": {
          "description": "- Profile data",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProfileInsert"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The created profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Profile"
                }
              }
            }
          }
        },
        "x-permission": "profile.create"
      },
      "delete": {
        "summary": "Delete multiple profiles",
        "tags": [
          "Profiles"
        ],
        "parameters": [],
        "requestBody": {
          "description": "- Array of profile IDs to delete",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "pattern": "^[a-z0-9]{24}$"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "IDs of deleted profiles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "pattern": "^[a-z0-9]{24}$"
                  }
                }
              }
            }
          }
        },
        "x-permission": "profile.delete"
      }
    },
    "/v1/profiles/search": {
      "post": {
        "summary": "Search profiles",
        "description": "Search profiles with complex filters",
        "tags": [
          "Profiles"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchQueryDtoProfile"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          }
        },
        "x-permission": "profile.view"
      }
    },
    "/v1/profiles/supported": {
      "get": {
        "summary": "Get supported printer models",
        "tags": [
          "Profiles"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "List of printer models with supported features",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SupportedPrinter"
                  }
                }
              }
            }
          }
        },
        "x-permission": "profile.view"
      }
    },
    "/v1/profiles/printer-models": {
      "get": {
        "summary": "Get all available printer models",
        "tags": [
          "Profiles"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Complete list of all printer models in the system",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PrinterModel"
                  }
                }
              }
            }
          }
        },
        "x-permission": "profile.view"
      }
    },
    "/v1/profiles/my-printer-models": {
      "get": {
        "summary": "Get printer models used in your store",
        "tags": [
          "Profiles"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "List of printer models that have profiles in your store",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PrinterModel"
                  }
                }
              }
            }
          }
        },
        "x-permission": "profile.view"
      }
    },
    "/v1/profiles/slicer-versions": {
      "get": {
        "summary": "Get available slicer versions",
        "tags": [
          "Profiles"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "List of synced slicer versions with their patch levels and slicer engine",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "version": {
                        "type": "string"
                      },
                      "patch": {
                        "oneOf": [
                          {
                            "type": "null"
                          },
                          {
                            "type": "string"
                          }
                        ]
                      },
                      "slicer": {
                        "oneOf": [
                          {
                            "const": "orcaslicer"
                          },
                          {
                            "const": "bambu-studio"
                          },
                          {
                            "const": "prusaslicer"
                          },
                          {
                            "const": "superslicer"
                          }
                        ]
                      }
                    },
                    "required": [
                      "version",
                      "patch",
                      "slicer"
                    ]
                  }
                }
              }
            }
          }
        },
        "x-permission": "settings.view"
      }
    },
    "/v1/profiles/{id}/full": {
      "get": {
        "summary": "Get full profile data with optional slicer version",
        "tags": [
          "Profiles"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "version",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Full profile data with inheritance resolved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Recordstringany"
                }
              }
            }
          }
        },
        "x-permission": "profile.view"
      }
    },
    "/v1/profiles/{id}": {
      "get": {
        "summary": "Get a specific profile",
        "tags": [
          "Profiles"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9]{24}$"
            },
            "required": true,
            "description": " - The profile ID"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested slicer profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Profile"
                }
              }
            }
          }
        },
        "x-permission": "profile.view"
      },
      "patch": {
        "summary": "Update a profile",
        "tags": [
          "Profiles"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9]{24}$"
            },
            "required": true,
            "description": " - The profile ID"
          }
        ],
        "requestBody": {
          "description": "- Profile update data",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProfileUpdateDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The updated profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Profile"
                }
              }
            }
          }
        },
        "x-permission": "profile.edit"
      },
      "delete": {
        "summary": "Delete a profile",
        "tags": [
          "Profiles"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9]{24}$"
            },
            "required": true,
            "description": " - The profile ID to delete"
          }
        ],
        "responses": {
          "200": {
            "description": "Array containing the deleted profile ID",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "x-permission": "profile.delete"
      }
    },
    "/v1/profiles/compatible/{id}": {
      "get": {
        "summary": "Get profiles compatible with a printer",
        "tags": [
          "Profiles"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9]{24}$"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Profiles compatible with the specified printer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompatibleProfiles"
                }
              }
            }
          }
        },
        "x-permission": "profile.view"
      }
    },
    "/v1/profiles/compatible/{machineModel}/{nozzleDiameter}": {
      "get": {
        "summary": "Get profiles by machine model and nozzle size",
        "tags": [
          "Profiles"
        ],
        "parameters": [
          {
            "name": "machineModel",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": " - The printer model name"
          },
          {
            "name": "nozzleDiameter",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": " - The nozzle diameter (e.g., \"0.4\")"
          }
        ],
        "responses": {
          "200": {
            "description": "Profiles matching the specified criteria",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompatibleProfiles"
                }
              }
            }
          }
        },
        "x-permission": "profile.view"
      }
    },
    "/v1/profiles/{id}/view": {
      "get": {
        "summary": "Get profile with inheritance details",
        "tags": [
          "Profiles"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": " - The profile ID"
          },
          {
            "name": "version",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "slicerEngine",
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "const": "orcaslicer"
                },
                {
                  "const": "bambu-studio"
                },
                {
                  "const": "prusaslicer"
                },
                {
                  "const": "superslicer"
                }
              ]
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Profile data with inheritance information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileWithInheritance"
                }
              }
            }
          }
        },
        "x-permission": "profile.view"
      }
    },
    "/v1/profiles/{id}/versions": {
      "get": {
        "summary": "Get available slicer versions for a profile",
        "tags": [
          "Profiles"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9]{24}$"
            },
            "required": true,
            "description": " - The profile ID"
          }
        ],
        "responses": {
          "200": {
            "description": "List of slicer versions that have the profile's inherited parent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "version": {
                        "type": "string"
                      },
                      "patch": {
                        "oneOf": [
                          {
                            "type": "null"
                          },
                          {
                            "type": "string"
                          }
                        ]
                      },
                      "slicer": {
                        "oneOf": [
                          {
                            "const": "orcaslicer"
                          },
                          {
                            "const": "bambu-studio"
                          },
                          {
                            "const": "prusaslicer"
                          },
                          {
                            "const": "superslicer"
                          }
                        ]
                      }
                    },
                    "required": [
                      "version",
                      "patch",
                      "slicer"
                    ]
                  }
                }
              }
            }
          }
        },
        "x-permission": "profile.view"
      }
    },
    "/v1/profiles/preview": {
      "post": {
        "summary": "Preview profiles from a file",
        "tags": [
          "Profiles"
        ],
        "parameters": [],
        "requestBody": {
          "description": "- File containing profiles to preview",
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ProfileUploadBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Preview of profiles found in the file",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfilePreviewResult"
                }
              }
            }
          }
        },
        "x-permission": "profile.create"
      }
    },
    "/v1/profiles/import": {
      "post": {
        "summary": "Import profiles from a file",
        "tags": [
          "Profiles"
        ],
        "parameters": [],
        "requestBody": {
          "description": "- File and import options",
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ProfileImportBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Results of the import operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileImportResult"
                }
              }
            }
          }
        },
        "x-permission": "profile.create"
      }
    },
    "/v1/profiles/import-data": {
      "post": {
        "summary": "Import pre-parsed profiles",
        "tags": [
          "Profiles"
        ],
        "parameters": [],
        "requestBody": {
          "description": "- Pre-parsed profile data and import options",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProfileImportDataBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Results of the import operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileImportResult"
                }
              }
            }
          }
        },
        "x-permission": "profile.create"
      }
    },
    "/v1/print-jobs": {
      "get": {
        "summary": "Get all print jobs",
        "description": "List all print jobs including queued, printing, and completed jobs",
        "tags": [
          "Print_Jobs"
        ],
        "parameters": [
          {
            "name": "partBuildId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "quantityIndex",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "quantityTotal",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "thumbnailUri",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "coloredThumbnailUri",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "buildThumbnailUri",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "filesToPrint",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "slicerInputHash",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "isGcodeCached",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "slicedGcodeUri",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "partId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "partName",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "skuId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "skuName",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "parameterOverrides",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "orderId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "label",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "orderItemId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "linkedPartId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "skuInstance",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "queueOrder",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "priority",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "requiredPrinterTags",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "overriddenProcessProfileId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "taskId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "profileUris",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "assignedPrinterId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "assignmentStartedAt",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "assignmentCompletedAt",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "printingStartedAt",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "printingCompletedAt",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "cancelledAt",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "errorMessage",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "hidden",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "logsUri",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "extensions",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "skipObjectsData",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "materialMapping",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "materialAssignments",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "gcodeAnalysisSha256",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "SHA256 hash of analyzed gcode content — stable key for extrusion lookup"
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "storeId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "createdAt",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "updatedAt",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false,
            "title": "Sort"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 1000
            },
            "required": false,
            "title": "Limit"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "number",
              "minimum": 0
            },
            "required": false,
            "title": "Offset"
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false,
            "title": "Fields"
          },
          {
            "name": "include",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false,
            "title": "Include"
          },
          {
            "name": "meta",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "required": false,
            "title": "Meta"
          },
          {
            "name": "hints",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "required": false,
            "title": "Hints"
          }
        ],
        "responses": {
          "200": {
            "description": "All print jobs with their current status",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PrintJob"
                      }
                    },
                    {
                      "$ref": "#/components/schemas/SearchResponse"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-permission": "queue.view"
      }
    },
    "/v1/print-jobs/search": {
      "post": {
        "summary": "Search print jobs",
        "description": "Search print jobs with complex filters",
        "tags": [
          "Print_Jobs"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchQueryDtoPrintJob"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          }
        },
        "x-permission": "queue.view"
      }
    },
    "/v1/print-jobs/stats/completed-count": {
      "get": {
        "summary": "Get completed job count",
        "description": "Get total number of completed print jobs",
        "tags": [
          "Print_Jobs"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Count of completed jobs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "number"
                }
              }
            }
          }
        },
        "x-permission": "queue.view"
      }
    },
    "/v1/print-jobs/pause": {
      "patch": {
        "summary": "Pause print jobs",
        "description": "Send printer a command to pause the job",
        "tags": [
          "Print_Jobs"
        ],
        "parameters": [],
        "requestBody": {
          "description": "IDs of jobs to pause",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrintJobOperationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "IDs of paused jobs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "pattern": "^[a-z0-9]{24}$"
                  }
                }
              }
            }
          }
        },
        "x-permission": "queue.manage"
      }
    },
    "/v1/print-jobs/cancel": {
      "patch": {
        "summary": "Cancel print jobs",
        "description": "Cancel job(s) that are queued or in progress.  If in progress (printing), also sends the \nprinter(s) a stop/cancel command.",
        "tags": [
          "Print_Jobs"
        ],
        "parameters": [],
        "requestBody": {
          "description": "IDs of jobs to cancel",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrintJobOperationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "IDs of cancelled jobs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "pattern": "^[a-z0-9]{24}$"
                  }
                }
              }
            }
          }
        },
        "x-permission": "queue.manage"
      }
    },
    "/v1/print-jobs/resume": {
      "patch": {
        "summary": "Resume paused jobs",
        "description": "Send printer a command to resume a paused job",
        "tags": [
          "Print_Jobs"
        ],
        "parameters": [],
        "requestBody": {
          "description": "IDs of jobs to resume",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrintJobOperationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "IDs of resumed jobs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "pattern": "^[a-z0-9]{24}$"
                  }
                }
              }
            }
          }
        },
        "x-permission": "queue.manage"
      }
    },
    "/v1/print-jobs/retry": {
      "patch": {
        "summary": "Retry failed jobs",
        "description": "Retry cancelled or failed jobs by resetting them to queued status",
        "tags": [
          "Print_Jobs"
        ],
        "parameters": [],
        "requestBody": {
          "description": "IDs of jobs to retry",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrintJobOperationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "IDs of jobs reset for retry",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "pattern": "^[a-z0-9]{24}$"
                  }
                }
              }
            }
          }
        },
        "x-permission": "queue.manage"
      }
    },
    "/v1/print-jobs/clear": {
      "patch": {
        "summary": "Clear finished jobs",
        "description": "Remove completed or cancelled jobs from the queue",
        "tags": [
          "Print_Jobs"
        ],
        "parameters": [],
        "requestBody": {
          "description": "IDs of jobs to clear",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrintJobOperationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "IDs of cleared jobs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "pattern": "^[a-z0-9]{24}$"
                  }
                }
              }
            }
          }
        },
        "x-permission": "job.delete.all"
      }
    },
    "/v1/print-jobs/move-to-queue-front": {
      "patch": {
        "summary": "Prioritize jobs",
        "description": "Move jobs to the front of the queue for priority printing",
        "tags": [
          "Print_Jobs"
        ],
        "parameters": [],
        "requestBody": {
          "description": "IDs of jobs to prioritize",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrintJobOperationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "IDs of prioritized jobs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "pattern": "^[a-z0-9]{24}$"
                  }
                }
              }
            }
          }
        },
        "x-permission": "queue.override"
      }
    },
    "/v1/print-jobs/{id}/matching-details": {
      "get": {
        "summary": "Get job matching details",
        "description": "Get details about why a job is or isn't matching to printers",
        "tags": [
          "Print_Jobs"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9]{24}$"
            },
            "required": true,
            "description": " The print job ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Matching criteria and compatible printers",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "null"
                    },
                    {
                      "$ref": "#/components/schemas/PrintJobMatchingDetail"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-permission": "queue.view"
      }
    },
    "/v1/print-jobs/{id}/matching-troubleshoot": {
      "get": {
        "summary": "Get job matching troubleshooting details",
        "description": "Get troubleshooting details for why a job is or isn't matching to each printer",
        "tags": [
          "Print_Jobs"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9]{24}$"
            },
            "required": true,
            "description": " The print job ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Detailed checklist of matching criteria for all printers",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "null"
                    },
                    {
                      "$ref": "#/components/schemas/PrintJobMatchingTroubleshoot"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-permission": "queue.view"
      }
    },
    "/v1/print-jobs/{id}/reorder": {
      "patch": {
        "summary": "Reorder a job",
        "description": "Change a job's position in the print queue",
        "tags": [
          "Print_Jobs"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9]{24}$"
            },
            "required": true,
            "description": " The print job ID"
          }
        ],
        "requestBody": {
          "description": "New queue position and priority",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReorderPrintJobRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-permission": "queue.manage"
      }
    },
    "/v1/print-jobs/bulk-reorder": {
      "patch": {
        "summary": "Bulk reorder jobs",
        "description": "Reorder multiple jobs at once",
        "tags": [
          "Print_Jobs"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Array of job IDs with their new positions",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkReorderPrintJobsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-permission": "queue.manage"
      }
    },
    "/v1/print-jobs/{id}": {
      "get": {
        "summary": "Get print job",
        "description": "Get a single print job by ID",
        "tags": [
          "Print_Jobs"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9]{24}$"
            },
            "required": true,
            "description": " The print job ID"
          }
        ],
        "responses": {
          "200": {
            "description": "The print job details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrintJob"
                }
              }
            }
          }
        },
        "x-permission": "queue.view"
      },
      "patch": {
        "summary": "Update print job",
        "description": "Update a print job's properties",
        "tags": [
          "Print_Jobs"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9]{24}$"
            },
            "required": true,
            "description": " The print job ID"
          }
        ],
        "requestBody": {
          "description": "Fields to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PartialPrintJobInsert"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The updated print job",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrintJob"
                }
              }
            }
          }
        },
        "x-permission": "job.edit.all"
      }
    },
    "/v1/stores": {
      "get": {
        "summary": "Get all stores for current user",
        "tags": [
          "Stores"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "List of stores accessible to the user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Store"
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update organization settings",
        "tags": [
          "Stores"
        ],
        "parameters": [],
        "requestBody": {
          "description": "The fields to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Updated store",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Store"
                }
              }
            }
          }
        },
        "x-permission": "organization.edit"
      }
    },
    "/v1/skus": {
      "get": {
        "summary": "List all SKUs",
        "tags": [
          "SKUs"
        ],
        "parameters": [
          {
            "name": "sku",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "title",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "description",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "externalId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "externalProvider",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "folderId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "totalCogs",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "storeId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "createdAt",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "updatedAt",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false,
            "title": "Sort"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 1000
            },
            "required": false,
            "title": "Limit"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "number",
              "minimum": 0
            },
            "required": false,
            "title": "Offset"
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false,
            "title": "Fields"
          },
          {
            "name": "include",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false,
            "title": "Include"
          },
          {
            "name": "meta",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "required": false,
            "title": "Meta"
          },
          {
            "name": "hints",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "required": false,
            "title": "Hints"
          }
        ],
        "responses": {
          "200": {
            "description": "Array of all SKUs in the store with their linked parts",
            "content": {
              "application/json": {
                "schema": {
[...]
